body , html { 
    height: 100%;
    margin: 0;
    background-image: url("https://forbesme-prestaging-media.s3.us-east-2.amazonaws.com/lists/uploads/2021/03/30082830/9-Cairokee-01_Twitter-%40CairoKee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    color: rgb(236, 115, 2);
}
